name: Android CI Build

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch: # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x StopwatchApp/android/gradlew

      - name: Decode Keystore
        env:
          ENCODED_KEYSTORE: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        run: |
          echo $ENCODED_KEYSTORE | base64 -d > StopwatchApp/android/app/release.keystore

      - name: Create key.properties
        env:
          STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
        run: |
          echo "storePassword=$STORE_PASSWORD" > StopwatchApp/android/key.properties
          echo "keyPassword=$KEY_PASSWORD" >> StopwatchApp/android/key.properties
          echo "keyAlias=$KEY_ALIAS" >> StopwatchApp/android/key.properties
          echo "storeFile=release.keystore" >> StopwatchApp/android/key.properties

      - name: Build Release Bundle (AAB)
        run: cd StopwatchApp/android && ./gradlew bundleRelease

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: StopwatchApp/android/app/build/outputs/bundle/release/app-release.aab
